:root {
    --page--background: #f4eee8;
    --article-border: #114e60;
    --article-font: #325288;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 12px;
    font-family: 'Fjalla One', sans-serif;
}
body {
    background-color: var(--page--background);
    color: var(--article-font);
    display: grid;
    place-items: center;
    max-width: 100vw;
   
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
    width: 90%;

}
header {
    grid-row: 1 / 2;
    border: 1px solid var(--article-font);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    display: inline-block;
    margin: 10px 20px;
}
section.category-search {
    grid-row: 2 / 3;
    border: 1px solid var(--article-font);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

}
form label,
form input {
    display: block;
    margin: 5px 0;
}
form input {
    padding: 5px 8px;
    font-size: 0.9rem;
}
button {
    margin-top: 5px;
    padding: 8px 15px;
    background-color: var(--article-font);
    color: var(--page--background);
}
section.product-catalog {
    padding: 1rem;
    grid-row: 3 / 4;
    border: 1px solid var(--article-font);
    display: grid;
    grid-template-rows: repeat(2, minmax(130px,1fr));
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: minmax(130px, auto);
    gap: 1rem;
}
.article-container {
    border: 1px solid var(--article-border);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

}
.article-container-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 150px;
}
.article-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 0 1 45px; */
    width: 45px;
    height: 45px;
    border: 2px solid var(--article-font);
    border-radius: 50%;
    padding: 15px;
    margin: 8px;
}
.article-name  {
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
.article-price {
    color: var(--article-font);
    font-size: 0.9rem;
    font-weight: bold;
    
}
.article-image-container {
    background-repeat: no-repeat;
    background-size: 100%;
    flex: 0 1 167px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.article-price-container {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid var(--article-border);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    left: 110px;
}
footer {
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--article-font);
}
.social-icon {
    margin: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--article-font);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon:hover {
    color: var(--article-border);
    border: 2px solid var(--article-border);
    cursor: pointer;
}