:root {
    --page--background: #f4eee8;
    --article-border: #114e60;
    --article-font: #325288;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: 'Fjalla One', sans-serif;
}
body {
    background-color: var(--page--background);
    color: var(--article-font);
    display: grid;
    place-items: center;
    max-width: 100vw;
   
}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    border: 1px solid var(--article-font);
    width: 90%;
}
header {
    grid-row: 1 / 2;
    border: 1px solid var(--article-font);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    display: inline-block;
    margin: 10px 20px;
}
section.category-search {
    grid-row: 2 / 3;
    border: 1px solid var(--article-font);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;

}
form label,
form input {
    display: block;
    margin: 5px 0;
}
button {
    margin-top: 10px;
}
section.product-catalog {
    grid-row: 3 / 4
    border: 1px solid var(--article-font);
}
footer {
    grid-row: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--article-font);
}
.social-icon {
    margin: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid var(--article-font);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon:hover {
    color: var(--article-border);
    border: 2px solid var(--article-border);
    cursor: pointer;
}